*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.list{
    display: flex;
    gap: 10px;
    flex-direction: column;
   
   
    border-radius: 10px;
}
.list-items{
    display: flex;
    gap: 10px;
    flex-direction: row;
    border:1px solid black;
    padding: 20px;

    input{
        height: 40px; 
       
    }
}
.text-input{
    width: 320px;
    background-color:white;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
   padding: 10px;
  
}